<html>
  <head>
    <link rel="stylesheet" href="..\public\stylesheets\style.css">
  </head>
<body>
  
  <div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        E-commerce
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
      <a href="/ecommerce">home</a>
      <a href="/ecommerce/products">Products</a>
      <a href="/ecommerce/categories" >Catalogue</a>
      <a href="/ecommerce/cart" >card</a>
      <!--<a href="https://codepen.io/jo_Geek/" target="_blank">Codepen</a>
      <a href="https://jsfiddle.net/user/jo_Geek/" target="_blank">JsFiddle</a>-->
    </div>
  </div>
  
  <div class="content">
  <div class="title">
      <h1>Products</h1>
  </div>
  
  <div class="cards">
    <div class="card">
      <img src="..\public\images\produits\chaussures-velo-route-shimano-rc300-2022.jpg" alt="Denim Jeans" style="width:100%">
      <h1><%= data.data[0].titre %></h1>
      <p class="price">$<%= data.data[0].price %></p>
      <p><%= data.data[0].description %></p>
      <p><button>Add to Cart</button></p>
    </div>
    <div class="card">
      <img src="..\public\images\produits\chaussures-velo-route-shimano-rc300-2022.jpg" alt="Denim Jeans" style="width:100%">
      <h1>Tailored Jeans</h1>
      <p class="price">$19.99</p>
      <p>Some text about the jeans..</p>
      <p><button>Add to Cart</button></p>
    </div> 
    <div class="card">
    <img src="..\public\images\produits\chaussures-velo-route-shimano-rc300-2022.jpg" alt="Denim Jeans" style="width:100%">
    <h1>Tailored Jeans</h1>
    <p class="price">$19.99</p>
    <p>Some text about the jeans..</p>
    <p><button>Add to Cart</button></p>
   </div>
  </div>
     
</div>

</body>
</html>

